<p style="color: green"><%= notice %></p>
<h1>All Users</h1>

<div id="users">
    <% @users.each do |user| %>
        <%= render user%>
        <p>
            <%= link_to "Show this user", user %>
        </p>
    <% end %>
</div>

<%= link_to "Create New User", new_user_path %><br />
<% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %> |
<% else %>
    <%= link_to "Sign In", new_user_session_path %>
<% end %>