
<div id="<%= dom_id event %>">    

    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;"><%= event.name %></td>
        <td style="border: 1px solid black;"><%= event.location %></td>
        <td style="border: 1px solid black;"><%= event.Date %></td>
        <td style="border: 1px solid black;"><%= link_to "Show", event %></td>
        <td style="border: 1px solid black;"><%= link_to "Edit", edit_event_path(event) %></td>
        <td style="border: 1px solid black;"><%= link_to "Destroy",event, :method => :delete %></td>
    </tr>
</div>