
<p style="color: green"><%= notice %></p>

<div id="events"  class="container mt-3"> 
<h2>All Events</h2>

<div class="alert alert-success">
  <strong>Evnets :</strong> <%= @events.count %>/<%= Event.count %>
</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Date</th>
                <th>Action</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody> 
    <%= render @events %>
    </tbody> 
    <%= link_to 'Create New Event', new_event_path, class: "link-info" %>
    </table>
    <div class="pag-bar mt-5 pt-5">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>

</div>

