<p style="color: green"><%= notice %> </p>
<%= render @event %>
<br>
<div>
  <%= link_to "Edit this event", edit_event_path(@event), class: "link-success" %> |
  <%= link_to "Back to events", events_path, class: "link-secondary" %>

  <%= button_to "Destroy this event", @event, method: :delete, class: "btn btn-danger" %>
</div>